  <!-- start: Footer Menu -->
<div id="footer-menu" class="hidden-tablet hidden-phone">

  <!-- start: Container -->
  <div class="container">

    <!-- start: Row -->
    <div class="row">

      <!-- start: Footer Menu Logo -->
      <div class="span2 logo">
          <span class='sub-main'>Gadgify</span>
      </div>
      <!-- end: Footer Menu Logo -->

      <!-- start: Footer Menu Links-->
      <div class="span9">

        <div id="footer-menu-links">
          <div class="span3">
            <ul>
              <li>
                <a><label>What are you waiting for?</label></a>
            </li>
            </ul>
          </div>
            <%= link_to "Get Started!", "#", class: "btn btn-large btn-success" %>
        </div>

      </div>
      <!-- end: Footer Menu Links-->

      <!-- start: Footer Menu Back To Top -->
      <div class="span1">

        <div id="footer-menu-back-to-top">
          <a href="#"></a>
        </div>

      </div>
      <!-- end: Footer Menu Back To Top -->

    </div>
    <!-- end: Row -->

  </div>
  <!-- end: Container  -->

</div>
<!-- end: Footer Menu -->

<!-- start: Footer -->
<div id="footer">

  <!-- start: Container -->
  <div class="container">

    <!-- start: Row -->
    <div class="row">

      <!-- start: About -->
      <div class="span3">

        <h3>About Us</h3>
        <p>
          Gadgify and GetGadgify.com are registered trademarks of Gadgify LLC.<br/>
          <hr/>
          To learn more about us, follow us on Facebook and Twitter by clicking the links to your <strong>right!</strong><br/>
          <hr/>
          Please support us and try a Gadgify near you!

        </p>

      </div>
      <!-- end: About -->

      <!-- start: Photo Stream -->
      <div class="span3">

        <h3>We Are Here!</h3><%= image_tag 'san_diego_google.png', :class => 'img-circle', :size => '175x175' %>
      <!-- end: Photo Stream -->
      </div>
      <div class="span6">

        <!-- start: Follow Us -->
        <h3>Follow Us!</h3>
        <ul class="social-grid">
          <li>
            <div class="social-item">
              <div class="social-info-wrap">
                <div class="social-info">
                  <div class="social-info-front social-twitter">
                    <a href="http://twitter.com"></a>
                  </div>
                  <div class="social-info-back social-twitter-hover">
                    <a href="http://twitter.com"></a>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="social-item">
              <div class="social-info-wrap">
                <div class="social-info">
                  <div class="social-info-front social-facebook">
                    <a href="http://facebook.com"></a>
                  </div>
                  <div class="social-info-back social-facebook-hover">
                    <a href="http://facebook.com"></a>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
        <!-- end: Follow Us -->

        <!-- start: Newsletter -->
        <form id="newsletter">
          <h3>Newsletter</h3>
          <p>Please leave us your email</p>
          <label for="newsletter_input">@:</label>
          <input type="text" id="newsletter_input"/>
          <input type="submit" id="newsletter_submit" value="submit">
        </form>
        <!-- end: Newsletter -->

      </div>

    </div>
    <!-- end: Row -->

  </div>
  <!-- end: Container  -->

</div>
<!-- end: Footer -->

<!-- start: Copyright -->
<div id="copyright">

  <!-- start: Container -->
  <div class="container">

    <div class="sixteen columns">
      <p>
        &copy; 2012 Developed + Designed by GroundZeroLabs-San Diego <%=image_tag "poland2.png", alt: "Poland", style: "margin-top:-4px"%>
      </p>
    </div>

  </div>
  <!-- end: Container  -->

</div>
<!-- end: Copyright -->
