<!-- start: About Member -->
<div class="span4">
  <div class="avatar view-team member_height">
    <%= image_tag "gz/brian_d.jpg", alt: "team member", class: "member_image_height"%>
    <div class="mask">
      <h2>About Me</h2>
      <p>
        Hey guys this is Brian!
        <b>Nickname:</b>
        <br/>
        <%= link_to "My Personal Page", "https://www.facebook.com/brian", class: "info" %>
      </p>
    </div>
  </div>
  <div class="clear"></div>
  <div class="team-name">Brian <span> / Founder, Gadgify</span></div>
  <div class="social_profiles">
    <ul class="social-bookmarks">
      <li class="facebook"><a href="">facebook</a></li>
      <li class="linkedin"><a href="#">linkedin</a></li>
      <li class="twitter"><a href="#">twitter</a></li>
    </ul>
  </div>
</div>
<!-- end: About Member -->
