<!-- start: Page Title -->
<div id="page-title">

  <div id="page-title-inner">

    <!-- start: Container -->
    <div class="container">

      <h2><i class="ico-stats ico-white"></i>About Us</h2>

    </div>
    <!-- end: Container  -->

  </div>

</div>
<!-- end: Page Title -->

<!--start: Wrapper-->
<div id="wrapper">

  <!--start: Container -->
    <div class="container">

    <!--start: Row -->
      <div class="row">

        <div class="span8">
          <!-- start: About Us -->
          <div id="about">
            <div class="title"><h3>About Us</h3></div>
            <p>
              <span class="dropcap color">G</span>
              More than ever, people seek constant entertainment in today’s world. We believe that no one should be bored or be technologically deprived for any stretch of time. Our vision is a globally connected and fun-filled world entertained through the latest and greatest gadgets out there. Our mission here from the guys at Gadgify is to put that vision into effect. Starting one box at a time, we promise to deliver instant  entertainment in airports and beyond. Keep an eye out, we’ll be at a location near you soon!
            </p>
          </div>
          <!-- end: About Us -->
        </div>
        
        <div class="span4">

          <!-- start: Sidebar -->
          <div id="sidebar">

            <!-- start: Skills -->
                 <div class="title"><h3>Gadgify</h3></div>
                 <ul class="progress-bar">
                  <li>
                      <h5>IPads ( 60% )</h5>
                      <div class="meter"><span style="width: 60%"></span></div><!-- Edite width here -->
                    </li>
                    <li>
                      <h5>Nexus Tablets ( 40% )</h5>
                      <div class="meter"><span style="width: 40%"></span></div><!-- Edite width here -->
                    </li>
                    <li>
                      <h5>Entertainment ( 50% )</h5>
                      <div class="meter"><span style="width: 50%"></span></div><!-- Edite width here -->
                    </li>
                    <li>
                      <h5>Business ( 50% )</h5>
                      <div class="meter"><span style="width: 50%"></span></div><!-- Edite width here -->
                    </li>
                </ul>
                <!-- end: Skills -->

          </div>
          <!-- end: Sidebar -->

        </div>
      </div>
      <div class='row'>
        <!-- start: Team -->
          <div class="title"><h3>GroundZeroLabs Team</h3></div>

          <!-- start: Row -->
          <div class="row span12">

          <%= render "brian" %>
          <%= render "tommy" %>
          <%= render "phu" %>
          <%= render "quy" %>

          </div>
          <!-- end: Row -->

        </div>
        <!-- end: Team -->

      </div>



    </div>
    <!--end: Row-->

  </div>
  <!--end: Container-->

</div>
<!-- end: Wrapper  -->
