.veritical-align-middle {
  vertical-align: middle;
}

.veritical-align-top {
  vertical-align: top;
}

.da-slider {
  p {
    color: black;
    font-size : 18px;
  }
}

.logo {
  color: #89C236;
  margin-top: 20px;

  .main {
    font-size: 45px;
  }
  span.sub-main {
    font-size: 25px;
  }
}

